@import '/reset.styl'

$imgSize = 200px

.main
  width: 100%
  background-color: #fff
  overflow: hidden
  height: 100%

  &-contentWrapper
    width: 500px
    display: flex
    height: 100%
    margin: 0 auto
    flex-wrap: wrap
    align-items: center
    flex-direction: column
    flex-flow: column wrap

.img
  margin: 0 auto
  max-width: $imgSize
  max-height: $imgSize
